/*
  --lightcyan: hsl(193, 38%, 86%);
  --neongreen: hsl(150, 100%, 66%);
  --grayishblue: hsl(217, 19%, 38%);
  --darkgrayishblue: hsl(217, 19%, 24%);
  --darkblue: hsl(218, 23%, 16%);
*/

main {
  width: 100vw;
  min-height: 100vh;

  background-color: var(--darkblue);

  display: grid;
  place-items: center;
}
