/*
  --lightcyan: hsl(193, 38%, 86%);
  --neongreen: hsl(150, 100%, 66%);
  --grayishblue: hsl(217, 19%, 38%);
  --darkgrayishblue: hsl(217, 19%, 24%);
  --darkblue: hsl(218, 23%, 16%);
*/

main {
  max-width: 100vw;
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}

footer {
  color: var(--lightcyan);
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
}

footer a {
  color: var(--neongreen);
  text-decoration: none;
}
